.text-field-root-style {
  margin-bottom: 16px;
}

.text-field-label-style {
  display: block;
  margin-bottom: 4px;
  color: var(--text-primary);
}

.text-field-input-style {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  box-sizing: border-box;

  font-size: 0.938rem;
  line-height: 1rem;
}

.text-field-input-style:focus {
  outline: 1px solid var(--primary-color);
}
